body {
  background: #3A3A3C;
  color: #fff;
  font-family: 'Unica One', Arial, sans-serif;
  margin-top: 50px;
}

button {
  display: inline-block;
  border: 0 none;
  background: #dddddd;
  color: #333333;
  font: bold 120%/2 'Unica One', Arial, sans-serif;
  padding: 0 2em;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: #cccccc;
}

button:disabled {
  background-color: #dddddd;
  opacity: .5;
  cursor: not-allowed;
}

iframe {
  border: 0 none;
  -webkit-filter: invert(1);
  filter: invert(1);
}

#accuracy {
  color: hotpink;
}

#container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  min-width: 1024px;
  min-height: 768px;
}

.content-value {
  text-align: center;
  font-size: 300%;
}

#bullet-count {
  color: greenyellow;
}

#controls {
  position: absolute;
  right: 0;
  left: 800px;
  top: 0;
  bottom: 0;
  text-align: center;
}

#controls .wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

#details {
  bottom: 0;
  left: 800px;
  position: absolute;
  right: 0;
  height: 560px;

}

.datapoints {
  width: 38.196601125%;
  float: left;
}

.detail {
  text-align: center;
}


.detail-content {
  margin: 8px 10px;
}

.detail-content .punchy {
  color: #ffffff;
  font-size: 68px;
  letter-spacing: -3px;
  margin: 0;
}

.detail-header {

  margin: 2px 10px;
  padding: 6px;
}

.visualizations {
  float: left;
  width: 61.803398875%;
}

#game-frame {
  bottom: 0;
  height: 560px;
  left: 0;
  position: absolute;
  width: 800px;
}

#joystick {
  zoom: 50%;
}

#kill-count {
  color: red;
}

#main {
  margin-left: 200px;
  padding: 2em 50px;
}

#nav {
  background-color: #4A4A4C;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#nav a {
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  padding: 0 10px;
  text-decoration: none;

}

#nav .brand {
  font-size: 120%;
}
#nav .brand, #nav .menu {
  float: left;
}

#nav .menu {
  margin: 0 0 0 2em;
}

#overview {
  bottom: 560px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50px;
}

#overview-chart {
  bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
}

#speed-gauge {
  height: 250px;
  margin: -80px auto 0;

}

#sidebar {
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 50px;
  width: 180px;
  background: #555;


}

#trial-index {
  list-style: none;
  margin: 0;
  padding: 0;
}

#trial-index li:hover {
  cursor: pointer;
}

