body {
  background: #3A3A3C;
  color: #fff;
  font-family: 'Unica One', Arial, sans-serif;
}

button {
  display: inline-block;
  border: 0 none;
  background: #dddddd;
  color: #333333;
  font: bold 120%/2 'Unica One', Arial, sans-serif;
  padding: 0 2em;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: #cccccc;
}

button:disabled {
  background-color: #dddddd;
  opacity: .5;
  cursor: not-allowed;
}

iframe {
  border: 0 none;
  -webkit-filter: invert(1);
  filter: invert(1);
}

#container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  min-width: 1024px;
  min-height: 768px;
}

#controls {
  position: absolute;
  right: 0;
  left: 800px;
  top: 0;
  bottom: 0;
  text-align: center;
}

#controls .wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

#details {
  bottom: 0;
  left: 800px;
  position: absolute;
  right: 0;
  height: 560px;

}

#game-frame {
  bottom: 0;
  height: 560px;
  left: 0;
  position: absolute;
  width: 800px;
}

#joystick {
  zoom: 75%;
  position: absolute;
  left:0;
  bottom: 10px;
}

#nav {
  background-color: #4A4A4C;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#nav .brand {
  color: #fff;
  font-size: 120%;
  font-weight: bold;
  line-height: 50px;
  padding: 0 10px;
  text-decoration: none;
}

#overview {
  bottom: 560px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50px;
}

#overview-chart {
  bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
}
