body {
  background: #3A3A3C;
  color: #fff;
  font-family: Arial, sans-serif;

}

iframe {
  border: 0 none;
}

#details {
  bottom: 0;
  left: 800px;
  position: fixed;
  right: 0;
  height: 560px;

}

#game-frame {
  bottom: 0;
  height: 560px;
  left: 0;
  position: fixed;
  width: 800px;
}

#nav {
  background-color: #4A4A4C;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#nav .brand {
  color: #fff;
  font-size: 120%;
  font-weight: bold;
  line-height: 50px;
  padding: 0 10px;
  text-decoration: none;
}

#overview {
  bottom: 560px;
  left: 0;
  position: fixed;
  right: 0;
  top: 50px;
}
